// sass --watch scss/style.scss:css/style.css

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800|Raleway:300,400,700,800|Roboto:300,400,700');
@import '_button';
@import '_mixin_border';


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h4{
    font-size: 40px;
}

hr{
    display: block;
    height: 2px;
    background:  rgb(140,140,140); 
}

.wraper{
    position: fixed;
    top: 0;
    nav{
        a{
            color: white !important;
        }
        .myNavbar{
            a:hover{
                color: rgb(199,178,153) !important;
            }        
        }
    }
}

header{
    background: url(../images/slider/slider1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
    @extend .btn;
    @extend .btn:hover;
    .text{
        margin-bottom: 50px;
        h3{
            font-size: 36px;
        }
        h1{
            font-size: 52px;
            font-weight: 800;
        }
        p{
            font-size: 14px;
        }
    }
}

.waxomRealization{
    margin-top: 100px;
    margin-bottom: 50px;
    img{
        height: 50px;
        width: 50px;
    }
    h3{
        color: rgb(85,85,85);
        font-weight: 600;
    }
    article{
        color: rgb(140,140,140); 
        font-size: 16px;
    }
    hr{
        width: 30%;
        margin: 20px auto;
    }
    section:hover{
        h3{
            color: rgb(199,178,153) !important;
        }
        svg path{
            fill: rgb(199, 178, 153);
        }
        hr{
            background: rgb(199,178,153);
        }
    }        

}

.services{
    background: rgb(251,250,248);
    h2{
        color: rgb(85,85,85);
        font-size: 30px;
        font-weight: 600;
    }
    p{
        color: rgb(140,140,140);     
        font-size: 16px;   
    }
    .screenshots{
        .screenshots-right, .screenshots-left{
            position: absolute;
            width: 55%;
            top: 22%;
        }
        .screenshots-right{
            left: 45%;
        }
        .screenshots-center{
            position: relative;
            width: 60%;
            left: 20%;
        }
    }
}

.textBox{
    @extend .btn;
    @extend .btn:hover;
    background: rgb(36,29,26);
    .text{
        span{
            color: rgb(199, 178, 153) ;
        }
        p{
            color: rgb(97,88,85);
        }
    }
}

.latestProjects{
    h2{
        color: rgb(85,85,85);
        font-size: 30px;
        font-weight: 600;
    }
    p{
        color: rgb(140,140,140);     
        font-size: 16px;   
    }
    li{
        display: block;
        padding: 5px 20px;
        border: solid rgb(196, 196, 196) 1px;
        border-radius: 3px;
        color: rgb(140,140,140); 
        margin: 5px 0;
    }
    li:hover{
        background: rgb(153,134,117);
        color: white;
    }
    .card{
         border:0;
        img{
            height: 70%;
        }
        .wraper-hover{
            display: none;
            position: absolute;
            top: 0;left: 0;
            height: 70%;width: 100%;
            background: rgba(54,47,45, 0.6); 
        }
        .card-body{
            background: rgb(251,250,248);   
            position: relative;
            .arrow_card-boby{
                height: 20px;width: 20px;
                background: rgb(251,250,248);   
                position: absolute;
                top: -10px;left: 30px;
                transform: rotate(45deg);
            }
            h5{
                color: rgb(199,178,153);
            }
            p{
                color: rgb(209,209,209);
            }
        }    
    }
    .card:hover{
        .wraper-hover{
            display: flex;
        } 
        .card-body{
            background: rgb(54,47,45); 
            .arrow_card-boby{
                background: rgb(54,47,45); 
            }  
            h5{
                color: rgb(242,242,242);
            }
            p{
                color: rgb(199,178,153);
            }         
        }        
    }    
}

.videoPresentation{
    height: 80vh;
    background: url(../images/videoPresentation/bg-videopresent.jpg)no-repeat center;
    background-size: cover;
    padding-top: 50px;
    .icon-play{
        width: 100px; height: 100px;
        background: rgba(54,47,45, 0.6);
        border-radius: 50%; 
    }
    .text{
        h2{
            font-size: 30px;
            font-weight: 600;
        }
        p{
            font-size: 16px;
        }
    }
    span{
        color: rgb(199,178,153);
    }
}

.exellent{
    height: 80%;
    h2{
        color: rgb(85,85,85);
        font-size: 30px;
        font-weight: 600;
    }
    p, article, li{
        color: rgb(140,140,140);     
        font-size: 16px;   
    }
    ul {
        li {
            list-style: none;
            background: url(../images/exellent/icon-arrow.png) no-repeat; 
            padding-left: 40px; 
            margin: 15px;
        }
    }
}

.counters{
    background: rgb(40,30,27);
    .text{
        .title{
            font-size: 48px;
            color: white;
        }
        p{
            color: rgb(199, 178, 153);
        }
    }
    hr{
        background: white;
        width: 30%;
    }
}

.recentPosts{
    height: 80%;
    h2, h5{
        color: rgb(85,85,85);
        font-size: 30px;
        font-weight: 600;
    }
    p{
        color: rgb(140,140,140);     
        font-size: 16px;   
    }  
    a{
        text-decoration: none;
    }  
    .card{
        border-color: white;
        .wraper-hover{
            display: none;
            position: absolute;
            top: 0;left: 0;
            height: 50%;width: 100%;
            background: rgba(54,47,45, 0.6); 
        }  
        img{
            height: 50%;
        }
        .circles-slider{
            position: absolute;
            top: 40%;
            img{
                margin-right: 12px;
            }
        }
        .date-block{
            position: absolute;
            top: 5%; left: 5%;
            .date-block_day{
                font-size: 24px;
                background: rgb(54, 54, 54);
                @include border-radius(5px 5px 0 0);
            }
            .date-block_month{
                font-size: 12px;
                background: rgb(37, 37, 37);
                @include border-radius(0 0 5px 5px);
            }
        }
        .slider-arrow{
            position: absolute;
            top: 45%; left: 25%;
        }
        .card-body{
            h5{
                font-size: 20px;
            }
            p{
                font-size: 14px;   
            }
            a{
                color: rgb(199,178,153);
            }      
        }
    }
    .card:hover{
        .wraper-hover{
            display: flex;
        }
        .card-body{
            background: rgb(54,47,45); 
            h5{
                color: rgb(199,178,153);
            }
            p{
                color: white;
            }   
        }        
        .date-block{
            .date-block_day{
                background: rgb(199,178,153);
            }
            .date-block_month{
                background: rgb(164, 141, 114);
            }
        }
    }   
}

.partners{
    background: url(../images/partners/bg-partners.jpg) no-repeat center;
    position: relative;
    .wraper-bg{
        position: absolute;
        width: 100%;height: 100%;
        top: 0;left: 0;
        z-index: 3;
        background: rgba(25,25,25,0.7);
    }
    .partner{
        z-index: 15;
    }
}

footer{
    background: rgb(25,25,25);
    a{
        color: white !important;
    }
    .linkReadMore{
        color: white !important;
    }

    // waxom 34px 14 col85,85,85 col209,209,209
    // next 24px 14 col54,54,54 col85,85,85 col199,178,153
    // link col0,191,243 col149,149,149
}
// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (max-width: 1200px) {
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 21.5%;
            }   
        } 
    }
}

// Большие девайсы (десктопы, >= 992px)
@media (max-width: 992px) {
    .wraper{
        background: rgb(53, 53, 53);
        position: relative !important;
    }
    header{
        padding-top: 0;
    }
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 20.5%;
            }   
        } 
    }
}

// Средние девайсы («таблетки», >= 768px)
@media (max-width: 768px) {
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 19.5%;
            }   
        } 
    }
    .videoPresentation{
        height: 100vh;
        padding-top: 0;
    }
}

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 576px) {
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 19%;
            }   
        } 
    }
}
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 510px) {
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 18.5%;
            }   
        } 
    }
}
// Малые девайсы («ландшафтные телефоны», >= 576px)
@media (max-width: 480px) {
    .services{
        .screenshots{
            .screenshots-right, .screenshots-left{
                top: 16%;
            }   
        } 
    }
}